@page
@model RED_BLOG.Pages.Account.LoginModel
@{
}
<div class="container">
    @if (Model.message.Length > 0)
    {
        <div class="alert alert-info">
            @Model.message
        </div>
    }

    <form method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary mt-4">Login</button>
    </form>
</div>